.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.List {
  border: 1px solid black;
  border-radius: 10px;
  width: 170px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.List > * {
  padding: 5px;
}


.Actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.Actions > * {
  padding: 5px 20px;
}